:root {
    --main-green: #1a5c70;
    --main-whie: #ffffff;
}

.view-personal-details {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: 32px;
    color: var(--main-green);
    font-weight: 600;
    margin: 0;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
    .name {
        font-size: 18px !important;
    }

    .job-title {
        font-size: 15px !important;
    }
}

.job-title {
    font-size: 22px;
    color: var(--main-green);
    font-weight: 400;
    margin: 0;
    opacity: 0.8;
}


.details {
    display: flex;
}

.details > span:nth-child(1){
    width: 25px;
}