:root {
    --main-green: #1a5c70;
    --main-whie: #ffffff;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.header-logo {
    font-size: 45px;
    font-weight: 200;
    margin: 0;
    text-shadow: 2px 4px 4px var(--main-green);
}

.header-menu {
    display: flex;
    gap: 20px;
}