:root {
    --main-green: #1a5c70;
    --main-whie: #ffffff;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.btn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    background-color: var(--main-whie);
    color: var(--main-green);
    font-size: 15px;
    padding: 10px 8px;
    border-radius: 5px;
    border: 2px solid var(--main-green);
    width: 5rem;
    transition: 0.3s;
    font-weight: 400;
    margin: 15px 0;
}

.btn:hover {
    background-color: var(--main-green);
    color: var(--main-whie);
}

.btn.active {
    background-color: var(--main-green);
    color: var(--main-whie);
}

.heading {
    color: var(--main-green);
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    margin-top: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

input,
.rich-text {
    padding: 10px;
    font-size: 14px !important;
    width: 97%;
    margin-top: 10px;
    border-radius: 5px !important;
    border: 1px solid var(--main-green) !important;
}

input:focus,
.rich-text:focus {
    outline: none;
}

.editor {
    border: 2px solid var(--main-green);
    width: 1000px;
    margin-top: 20px;
    padding: 20px;
    padding-right: 30px;
}


@media screen and (min-width: 1024px) {
    .preview {
        min-width: 210mm;
        min-height: 297mm;
        max-width: 210mm;
        max-height: 297mm;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .editor {
        width: calc(100vw - 20%);
    }

    .preview {
        width: calc(100vw - 20%);
        height: calc((100vh - 30%));
    }
}

@media screen and (min-width: 300px) and (max-width: 767px) {
    .editor {
        width: calc(100vw - 20%) !important;
    }

    .preview {
        width: calc(100vw - 20%);
        height: calc(100vh - 20%);
        padding: 20px !important;
    }

    span {
        font-size: 10px !important;
    }
}

.hide {
    display: none;
}

.line-breaker {
    width: 100%;
    border: 2px solid var(--main-green);
    margin: 20px 0;
    opacity: 0.7;
    border-radius: 2px;
}

.preview {
    box-shadow: 5px 0 6px 0 hsl(0 0% 0%/.2);
    border: 1px solid var(--main-green);
    margin-top: 20px;
    padding: 30px 60px;
    border-radius: 2px;
    overflow: hidden;
    page-break-after: always;
}

.icon {
    color: var(--main-green);
    opacity: 0.7;
}

.add-btn.appended {
    bottom: 0px;
    position: absolute;
    left: 100px;
}

.wrapper {
    position: relative;
    margin-bottom: 6px;
}


/* Common styles for Experience and education */

.side-heading {
    margin-top: 15px;
    color: var(--main-green);
    opacity: 0.8;
    font-size: 17px;
    font-weight: 400;
}

.side-heading>div {
    border: 1px solid var(--main-green);
    margin: 5px -1px;
}

.sub-details-header {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.sub-details-header * {
    font-size: 14px;
    font-weight: 600;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
    .side-heading {
        font-size: 12px !important;
    }
}

.sub-details-side-header {
    display: flex;
    gap: 5px;
}

.sub-fields>div:first-child {
    width: fit-content;
}


/* Print styles */

/* @media print {
    @page {
        size: auto;
         margin: 0.5cm; 
    }

    @page :first {
        margin-top: 0mm;
    }

    #page-title, #page-url {
        display: none;
    }

    .header, .editor, .btn {
        display: none;
    }
} */

@page {
    size: A4;
    margin: 0mm;
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
    }

    #page-title,
    #page-url {
        display: none;
    }

    .no-print,
    .no-print * {
        display: none !important;
    }

    .preview {
        box-shadow: none !important;
        border: none !important;
        ;
    }

    #a4-size {
        margin: 10mm;
        display: block !important;
    }

}